.container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.message {
    margin: 24px 8px 8px;
    text-align: center;
}

.message-body {
    min-width: 400px;
    min-height: 400px;
}

.container > button {
    margin: 8px;
}

