<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="./public/stylesheets/style.css">
    <title>cuPets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <!--NavBar-->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <!-- <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a> -->

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    About Us
                </a>

                <div id="searchButton" class="field has-addons">
                  <div class="control">
                    <input class="input" id="searchBtn" type="text" placeholder="Search a User">
                  </div>
                  <div class="control">
                    <a class="button is-info">
                      Search
                    </a>
                  </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Profile
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Inbox
                        </a>
                        <a class="navbar-item">
                            Settings
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Give us Feedback!
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{if logged_in}}
                        <a class="button is-warning">
                            <strong>Log Out</strong>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        {{{ body }}}

    </main>
<script src="./js/logout.js"></script>
</body>

</html>