<div class="container">
    <article class="message name">
        <div class="message-header">
            <p>Messages</p>
        </div>
        <div class="message-body">

        </div>
    </article>
    <article class="message">
        <div class="message-body">
            Message Content
        </div>
    </article>


</div>
<div class="container">
    <button class="button is-medium">Dashboard</button>
    <button class="button is-medium">Settings</button>
</div>
