<div class="columns">
    <article class="message name block">
        <div class="message-header block">
            <p>Messages</p>
        </div>
        <div class="message-body block">
            {{log messages}}
            {{#each messages}}
                <p>sender: 
                    <a href="/message/{{from}}">{{from}}</a>
                </p>
                <div>
                    <p>
                        message: 
                    </p>
                    {{content}}
                </div>
            {{/each}}
        </div>
    </article>
</div>
<div class="container">
    <button class="button is-medium">Dashboard</button>
    <button class="button is-medium">Settings</button>
</div>
