<form class="box">
      <div class="field">
          <p class="is-size-4">Sign Up</p>
        <label class="label">User Name</label>
        <div class="control">
          <input class="input" type="email" placeholder="User Name">
        </div>
      </div>

      <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="email" placeholder="Name">
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input" type="email" placeholder="Tell us about yourself!">
          </div>
        </div>

      <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Email">
          </div>
        </div>
    
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password">
        </div>
      </div>

      <div class="field">
          <label class="label">What Pet do you Have?</label>
          <div class="control">
            <div class="select">
              <select>
                <option>It barks!</option>
                <option>It meows!</option>
                <option>It's a bird it's a plane</option>
                <option>Creepy Crawlers!</option>
                <option>Small and Furry!</option>
                <option>Slithery<option>
                <option>Slimy and Slippery</option>
                <option>Other</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
        <label class="label">Pet Name</label>
        <div class="control">
          <input class="input" type="password" placeholder="What's their name?">
        </div>
      </div>
        <!-------------------------------Animal Dropdown for Choosing what Pet you are looking for------------------->
        <div class="field">
          <label class="label">What Pets are you looking for?</label>
          <div class="control">
            <div class="select">
              <select>
                <option>It barks!</option>
                <option>It meows!</option>
                <option>It's a bird it's a plane</option>
                <option>Creepy Crawlers!</option>
                <option>Small and Furry!</option>
                <option>Slithery<option>
                <option>Slimy and Slippery</option>
                <option>Other</option>
              </select>
            </div>
          </div>
        </div>
    
      <button class="button is-warning">Sign Up</button>
    </form>
    <!--Log In--->
    <form class="box">
      <div class="field">
          <p class="is-size-4">Log In</p>
        <label class="label">User Name</label>
        <div class="control">
          <input class="input" type="email" placeholder="User Name">
        </div>
      </div>
    
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password">
        </div>
      </div>
    
      <button class="button is-warning">Log in</button>
    </form>
    <script src="./js/signup.js"></script>
