<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <form class="box">
                    <div class="field">
                        <p class="is-size-4">Log In</p>
                      <label class="label">User Name</label>
                      <div class="control">
                        <input class="input" type="email" placeholder="User Name">
                      </div>
                    </div>
                  
                    <div class="field">
                      <label class="label">Password</label>
                      <div class="control">
                        <input class="input" type="password" placeholder="Password">
                      </div>
                    </div>
                    
                    <div class="loginbtn">
                    <button class="button is-warning">Log in</button>
                    <p>Not signed up? <a href='/signup'>Click here</a> to create an account!</p>
                    </div>
                  </form>
            
            </div>
        </div>
    </div>
</section>
<script src="./js/login.js"></script>

