<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                    <form id="messageForm" data-user="{{user_name}}">
                        <p>Message {{user_name}} here!</p>
                        <textarea class="textarea" id="messageContent" placeholder="Send them a hello!"></textarea>
                        <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section> 

{{!-- <form id="messageForm" data-user="{{user_name}}">
    <input type="text" id="messageContent">
    <button type="submit">Submit</button>
</form>  --}}

<script>
    const form = document.querySelector('#messageForm')

    form.addEventListener('submit', async function (e) {
        e.preventDefault();
        const message = document.querySelector('#messageContent').value.trim();
        const username = e.target.getAttribute('data-user');

        console.log(username, message);
        const response = await fetch('/api/profile/message', {
            method: 'POST',
            body: JSON.stringify({
                user_name: username,
                message
            }),
            headers: { 'Content-Type': 'application/json' },
        });
    })
</script>