<div class="card">
    <div class="card-content">
      <p class="title">
        Person's description
      </p>
      <p class="subtitle">
        Username placeholder
      </p>
      <p class="subtitle">
        Pet_type
      </p>
      <p class="subtitle">
        Pet_name
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
         <a class="is-warning" href=""> I'll pass..</a>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <a href=""> Message them!</a>
        </span>
      </p>
    </footer>
  </div>
</body>