 <!-- add space inbetween -->
  <button class="button is-warning is-large is-fullwidth">Sign Out</button>
  <button class="button is-warning is-large is-fullwidth">Change Preferences</button>
  <button class="button is-warning is-large is-fullwidth">View Terms of Service</button>
  