<form class="box">
      <div class="field">
          <p class="is-size-4">Sign Up</p>
        <label class="label">User Name</label>
        <div class="control">
          <input class="input" type="email" placeholder="User Name">
        </div>
      </div>

      <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="email" placeholder="Name">
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input" type="email" placeholder="Tell us about yourself!">
          </div>
        </div>

      <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="Email">
          </div>
        </div>
    
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password">
        </div>
      </div>

      <div class="field">
          <label class="label">What type of Pet do you Have?</label>
          <div class="control">
            <div class="select">
              <select>
                <option>My Pet ...</option>
                <option>barks</option>
                <option>meows</option>
                <option>is small and furry</option>
                <option>flies</option>
                <option>has scales</option>
                <option>swims</option>
                <option>ribbits </option>
                <option>is a creepy crawler</option>
                <option>Other</option>
              </select>
            </div>
          </div>
          </div>
        </div>

        <div class="field">
        <label class="label">Pet Name</label>
        <div class="control">
          <input class="input" type="password" placeholder="What's their name?">
        </div>
      </div>
        <!-------------------------------Animal Dropdown for Choosing what Pet you are looking for------------------->
        <div class="field">
          <label class="label">What type of Pets are you looking for?</label>
          <div class="control">
            <div class="select">
                <select>
                  <option>I'm interested in Pets that...</option>
                  <option>bark</option>
                  <option>meow</option>
                  <option>are small and furry</option>
                  <option>fly</option>
                  <option>have scales</option>
                  <option>swim</option>
                  <option>ribbit</option>
                  <option>are creepy crawlers</option>
                  <option>Other</option>
                </select>
              </div>
          </div>
          </div>
        </div>
    
      <button class="button is-warning">Sign Up</button>
    </form>
    <!--Log In--->
    <form class="box">
      <div class="field">
          <p class="is-size-4">Log In</p>
        <label class="label">User Name</label>
        <div class="control">
          <input class="input" type="email" placeholder="User Name">
        </div>
      </div>
    
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password">
        </div>
      </div>
    
      <button class="button is-warning">Log in</button>
    </form>
    <script src="./js/signup.js"></script>
