<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form class="box">
          <div class="field">
            <p class="is-size-4">Sign Up</p>
            <label class="label">User Name</label>
            <div class="control">
              <input id="username" class="input" type="text" placeholder="User Name">
            </div>
          </div>

          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input id="name" class="input" type="text" placeholder="Name">
            </div>

          </div>


          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <input id="description" class="input" type="text" placeholder="Tell us about yourself!">
            </div>

          </div>


          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input id="email" class="input" type="email" placeholder="Email">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input id="password" class="input" type="password" placeholder="Password">

            </div>
          </div>

          <div class="field">
            <label class="label">What type of Pet do you Have?</label>
            <div class="control">
              <div class="select">
                <select id="petType">
                  <option>My Pet ...</option>
                  <option>bark</option>
                  <option>meow</option>
                  <option>fuzzy</option>
                  <option>fly</option>
                  <option>scaley</option>
                  <option>swim</option>
                  <option>ribbit</option>
                  <option>critter</option>
                  <option>oink</option>
                  <option>other</option>
                </select>
              </div>
            </div>
          </div>



          <div class="field">
            <label class="label">Pet Name</label>
            <div class="control">
              <input id="petName" class="input" type="text" placeholder="What's their name?">
            </div>
          </div>
          <!-------------------------------Animal Dropdown for Choosing what Pet you are looking for------------------->
          <div class="field">
            <label class="label">What type of Pets are you looking for?</label>
            <div class="control">
              <div class="select">
                <select id="petInterest">

                  <option>I'm interested in Pets that...</option>
                  <option>bark</option>
                  <option>meow</option>
                  <option>furry</option>
                  <option>fly</option>
                  <option>scaley</option>
                  <option>swim</option>
                  <option>ribbit</option>
                  <option>crawlers</option>
                  <option>other</option>
                </select>
              </div>
            </div>
          </div>

      <button id="signupBtn" class="button is-warning" type='submit'>Sign Up</button>
      <p>Already have an account? <a href='/login'>Click here</a> to log in!</p>
          </div>
        </div>
    
    </form>
    <script src="./js/signup.js"></script>
